body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    ;
    background: url(foto_fundo.jpg) no-repeat;
    background-size: cover;
}

.box-login {
    width: 560px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.box-login {
    float: left;
    font-family: 'Press Start 2P', cursive;
    font-size: 3.5em;
    margin-bottom: 50px;
    padding: 13px 0;
    border-bottom: 6 px solid cyan;
}

h1 {
    float: left;
    font-family: 'Press Start 2P', cursive;
    font-size: 3.5em;
    margin-bottom: 50 px;
    padding: 13 px 0;
    border-bottom: 6 px solid cyan;
}

.textbox {
    width: 100%;
    overflow: hidden;
    font-size: 20px;
    padding: 8px 0;
    margin: 8px 0;
    border-bottom: 1px solid cyan;
}

.textbox i {
    width: 26px;
    float: left;
    text-align: center;
}

.textbox input {
    border: none;
    outline: none;
    background: none;
    color: white;
    font-size: 18px;
    width: 80%;
    float: left;
    margin: 0 10px;
}

.botao-duplo {
    display: none;
    width: 45%;
    background: none;
    border: 2px solid cyan;
    border-radius: 3em;
    color: cyan;
    padding: 15px;
    font-size: 18px;
    font-weight: bolder;
    cursor: pointer;
    margin: 20px 12px;
}

.botao-duplo:hover {
    background-color: cyan;
    color: black;
    font-weight: bolder;
}

.botao-unico {
    width: 100%;
    background: none;
    border: 2px solid cyan;
    border-radius: 3em;
    color: cyan;
    padding: 15px;
    font-size: 18px;
    font-weight: bolder;
    cursor: pointer;
    margin: 20px 0;
}

.botao-unico:hover {
    background-color: cyan;
    color: black;
    font-weight: bolder;
}

.esqueceu-senha {
    color: white;
    font-size: 14px;
    outline: none;
    text-align: right;
    text-decoration: none;
}

.esqueceu-senha:hover {
    color: cyan;
    text-decoration: none;
}

.box-bg {
    width: 70%;
    border-radius: 2em;
    position: relative;
    display: inline-block;
    margin-left: 15%;
    margin-top: 3%;
    color: white;
    background-color: rgb(21, 36, 36);
}

.box-bg .contatos {
    width: 30%;
    height: 800px;
    float: left;
    color: white;
}

.box-bg .conversa {
    width: 70%;
    height: 800px;
    float: left;
    color: black;
    border-radius: 0 2em 2em 0;
    background-color: white;
}

#campo_pesquisa {
    background-color: #ffffff;
    border: solid 2px cyan;
    border-radius: 2em;
    width: 90%;
    height: 40px;
    margin-top: -10%;
    margin-left: 5%;
    display: inline-block;
}

#txtPesquisa {
    float: left;
    background-color: transparent;
    padding-left: 15px;
    margin-right: 15%;
    font-size: 18px;
    border: none;
    height: 40px;
    width: 10.63em;
}

#btnPesquisa {
    border: none;
    float: left;
    height: 40px;
    border-radius: 0 2em 2em 0;
    width: 100px;
    font-weight: bold;
    background: cyan;
}

.box-bg h1 {
    float: left;
    font-family: 'Press Start 2P', cursive;
    font-size: 2.3em;
    margin-left: 5%;
    margin-bottom: 50px;
    padding: 13px 0;
}

#info_contato {
    width: 90%;
    height: 80px;
    background-color: rgb(39, 66, 66);
    border: 1px solid cyan;
    border-radius: 1em;
    margin-left: 5%;
    margin-top: 50px;
}

#info_contato h1 {
    width: 100%;
    font-size: 1.5em;
    font-family: 'Roboto', sans-serif;
    ;
    margin-left: 20px;
    margin-top: 0px;
}

a {
    text-decoration: none;
    color: #ffffff;
}

.container {
    width: 90%;
    border: 2px solid cyan;
    background-color: #ffffff;
    border-radius: 2em;
    padding: 10px;
    margin-top: 15px;
    margin-left: 3%;
}

.darker {
    border-color: cyan;
    background-color: rgb(189, 255, 255);
}

.container::after {
    content: "";
    clear: both;
    display: table;
}

.container img {
    float: left;
    max-width: 60px;
    width: 100%;
    margin-right: 20px;
    border-radius: 50%;
}

.container img.right {
    float: right;
    margin-left: 20px;
    margin-right: 0;
}

.time-right {
    float: right;
    color: #999;
}

.time-left {
    float: left;
    color: #999;
}

#campo_mensagem {
    background-color: #ffffff;
    border: solid 2px cyan;
    border-radius: 2em;
    width: 92%;
    height: 60px;
    margin-bottom: -35%;
    margin-left: 3%;
    display: inline-block;
}

#txtMsg {
    float: left;
    background-color: transparent;
    padding-left: 15px;
    margin-right: 15%;
    font-size: 18px;
    border: none;
    height: 60px;
    width: 34.35em;
}

#btnMsg {
    font-size: 1em;
    border: none;
    float: left;
    height: 60px;
    border-radius: 0 2em 2em 0;
    width: 100px;
    font-weight: bold;
    background: cyan;
}